# SPDX-FileCopyrightText: 2022 Impulso Gov <contato@impulsogov.org>
#
# SPDX-License-Identifier: MIT


*
!pyproject.toml
!poetry.lock
!dbt_project.yml
!packages.yml
!profiles.yml
!docs-gen.sh
!analysis/
!docs/
!macros/
!models/
!seeds/
!snapshots/
!tasks/
!tests/
