# SPDX-FileCopyrightText: 2022 Impulso Gov <contato@impulsogov.org>
#
# SPDX-License-Identifier: MIT


# dbt
target/
dbt_modules/
.user.yml
dbt_packages

# Virtual envs
venv/
.env
.venv
env/


# VS Code
#.vscode/settings.json

# logs
*.log
logs/

# Python cache
__pycache__
